<h1>{{ title }}</h1>
 <table>
    <tr>
       <td>Ssn</td>
       <td>Name</td>
       <td>Dno</td>
    </tr>
    {{#each employee}}
      <form method="post">
      <tr>
         <td>{{Ssn}}</td>
         <td>{{Name}}</td>
         <td>{{Dno}}</td>
         <td style="border: none; margin-left: 10px;">
            <button 
              style="margin-left: 10px;" 
              type="submit" 
              name='delBtn'
              value="{{Dno}}" 
              formaction="/delete">
            삭제
            </button>
          </td>
        </tr> 
     </form>
   {{/each}}
 </table>