<h1>{{ title }}</h1>

<ul>
    {{#each users}}
        <li>
            {{ Studentnum }} / {{ Name }} /  {{ Grade }} /  {{ Depart }} /  {{ Admissiondate }} / {{ Email }}
          </a>
        </li>
      {{/each}}
</ul>